<div class="list-group">
    <a href="{%url 'trainer_dashboard'%}"class="list-group-item {%if request.path == "/trainer_dashboard"%}active {%endif%}" >Dashboard</a>
    <a href="{%url 'trainer_profile'%}"class="list-group-item {%if request.path == '/trainer_profile'%}active{%endif%}">profile </a>
    <a href="#"class="list-group-item">Assigned Subscrber </a>
    <a href="#"class="list-group-item">Payment</a></li>
    <a href="#"class="list-group-item">change passwords </a>
    <a href="#"class="list-group-item">Messages <span class="float-end badge bg-info mt-1">0</span> </a>
    <a href="#"class="list-group-item">Notifications <span class="float-end badge bg-info mt-1">0</span></a>
   

</div>

