{%load static %}
<!doctype html>
<html lang="en">

  <head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	
	  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet" />
    <!-- Bootstrap Icons -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    <!-- jquery -->
    <script src="assets/jquery-3.6.0.min.js"></script>
	<link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lightbox.min.js' %}"></script>
<link href="{% static 'lightbox.min.css' %}" rel="stylesheet">
    <title>Home - Kutus GYM</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
	  <div class="container">
	    <a class="navbar-brand" href="{% url 'home'%}">Kutus GYM</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav ms-auto">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="{% url 'home'%}">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="{% url 'gallerys'%}">Gallery</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'pricing'%}">Pricing</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link btn btn-sm btn-dark text-white" href="{% url 'Enquiry'%}">Enquiry</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            My Account
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
				{% if request.user.is_authenticated %}
				<li><a class="dropdown-item" href="{% url 'userdashboard'%}">Profile</a></li>
    			<li><a class="dropdown-item" href="#">Settings</a></li>
				<form method="post" action="{% url 'logout' %}">
					{% csrf_token %}
					<button type="submit" class="dropdown-item">Logout</button>
				</form>

{% else %}
{% if request.session.traionerLogin%}
	 {%if request.resolver_match.url_name == "trainer_dashboard"%}
			  <li><a class="dropdown-item disabled" href="{% url 'trainer_dashboard'%}">Trainer Dashboard</a></li>
			   <li><a class="dropdown-item" href="{% url 'trainer_logout'%}">Tainer Logout</a></li>
			 {%else%}
			 <li><a class="dropdown-item" href="{% url 'trainer_dashboard'%}">Trainer Dashboard</a></li>
			
			 {%endif%}
			
		{%else%}
			<li><a class="dropdown-item" href="{% url 'trainer_login'%}">Tainer Login</a></li>
			<li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
		 
		<li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>

			
	{%endif%}

{% endif %}

	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    <!-- Header End -->


    {% block content %}
    {% endblock %}
    <footer class="container py-5">
	    <p class="float-end"><a href="#">Back to top</a></p>
	    <p>© 2023–2025 Kutus GYM, Inc. · 
            <a href="{% url 'page' 1 %}">Privacy</a> · 
            <a href="{% url 'page' 3 %}">Terms</a> . 
            <a href="{%url 'fqa'%}">FAQ</a>
        </p>
	  </footer>

    <!-- Bootstrap Bundle -->
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'jquery-3.7.1.min.js'%}"></script>

  </body>
</html>